/* This file is used to define the global styles for the landing pages. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.8125;
}

/* This is the global font for the landing pages. */
:root {
    --primary-color:  #00a0f0;
    --secondary-color: #fff;
    --tertiary-color: #e8eaed;
    --quaternary-color: #152e44;
    --quinary-color: #112536;
    --senary-color: #333;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1rem;
}

.max-content {
    max-width: 1200px;
    margin: 0 auto;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Header */
.header {
    width: 100vw;
    z-index: 10;
}

.sub-header {
    width: 100%;
    max-width: 1170px;
    height: 64px;
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.sub-header h1 {
    color: var(--senary-color);
}

.txt-blue {
    color: var(--primary-color);
}

.sub-header ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: larger;
    font-weight: bold;
}

.sub-header a {
    text-decoration: none;
    color: var(--senary-color);
}

.sub-header a:hover {
    color: var(--primary-color);
    transition: 0.3s ease all ;
}

/** End Header */

/** Banner */
.banner {
    width: 100vw;
    height: calc(100vh - 64px);
}

.sub-banner {
    width: 100%;
    height: 100%;
    background-image: url('../images/gps_tracker.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-banner h2, p {
    padding: 1rem;
    color: white;
    z-index: 10;
}

.sub-banner-content {
    width: 100%;
    max-width: 1170px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3B666B;
}

.sub-banner-content-2 {
    width: 100%;
    position: relative;
    background: #007FFFD8;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(-31deg);
    transform: rotate(-31deg);
    height: 200%;
    right: 50%;
    top: -200%;
    z-index: 5;
}