/* This file is used to define the global styles for the landing pages. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* This is the global font for the landing pages. */
:root {
    --primary-color:  #00a0f0;
    --secondary-color: #fff;
    --tertiary-color: #e8eaed;
    --quaternary-color: #152e44;
    --quinary-color: #112536;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1rem;
}
.max-content {
    max-width: 1200px;
    margin: 0 auto;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: red;
}

.sub-header {
    width: 100%;
    max-width: 1170px;
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: var(--primary-color);
}

.header ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: larger;
}