<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>4Mobility</title>
    <link rel="stylesheet" type="text/css" href="../../static/styles/style.css">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header class="header">
            <h1>4Mobility</h1>

            <!-- Navigation -->
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <!-- End of Navigation -->

        </header>
        <!-- End of Header -->

        <!-- Banner -->
        <section id="banner">
            <h2>Welcome to 4Mobility</h2>
            <p>4Mobility is a web application that allows you to manage your mobility.</p>
        </section>
        <!-- End of Banner -->

        <!-- About -->
        <section id="about">
            <h2>About</h2>
            <p>4Mobility is a web application that allows you to manage your mobility. It is a tool that helps you to plan your trips, to find the best route and to track your expenses.</p>
        </section>
        <!-- End of About -->

        <!-- Features -->
        <section id="features">
            <h2>Features</h2>
            <ul>
                <li>Plan your trips</li>
                <li>Find the best route</li>
                <li>Track your expenses</li>
            </ul>
        </section>
        <!-- End of Features -->

        <!-- Contact -->
        <section id="contact">
            <h2>Contact</h2>
            <p>For more information, please contact us at <a href="mailto:info@4mobility.me"> </a>
        </section>
        <!-- End of Contact -->
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 4Mobility</p>
    </footer>
    <!-- End of Footer -->
</body>
</html>